@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap");
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
:target {
  scroll-margin-top: 100px;
}

.fancybox__container {
  z-index: 1999;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: var(--white-color-color);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  height: 300px;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #fff;
  overflow-x: hidden;
  position: relative;
  direction: rtl;
  font-family: "El Messiri", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background: none;
}

.row {
  margin: 0;
  padding: 0;
}

.elementor-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}
.elementor-title h6 {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}
.elementor-title img {
  height: 1rem;
}
.elementor-title::before, .elementor-title::after {
  content: "";
  width: 2rem;
  height: 1px;
  background: rgba(166, 157, 132, 0.5019607843);
}

.elementor-subtitle {
  color: #777;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.section_head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_head .elementor-title {
  justify-content: flex-start;
}
.section_head .elementor-subtitle {
  text-align: start;
}
@media screen and (max-width: 768px) {
  .section_head {
    flex-direction: column;
  }
  .section_head .elementor-title {
    justify-content: center;
  }
  .section_head .elementor-subtitle {
    text-align: center;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}
header.scrolled {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}
header nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .logo img {
  width: 52px;
  height: 52px;
  -o-object-fit: contain;
     object-fit: contain;
}
header nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  transition: all 0.4s ease-in-out;
  z-index: 9;
}
header nav .nav-links li.hide_lg {
  display: none;
}
@media screen and (max-width: 768px) {
  header nav .nav-links {
    padding: 2rem 1.5rem;
    position: fixed;
    background: #fff;
    height: 100vh;
    top: 0;
    right: -50%;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    align-items: flex-start;
  }
  header nav .nav-links li.hide_lg {
    display: block;
  }
  header nav .nav-links.active {
    right: 0;
  }
}
header nav .nav-links a {
  color: #000;
  font-weight: 500;
}
header nav .layer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  height: 100vh;
}
header nav .layer.active {
  display: block;
}
header nav .actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
header nav .actions button {
  font-weight: 500;
  font-size: 1.1rem;
}
header nav .actions .menu-button {
  display: none;
}
@media screen and (max-width: 768px) {
  header nav .actions .menu-button {
    display: block;
  }
}

main {
  min-height: 100vh;
}

.header_section {
  height: 45vh;
  background: url("/assets/images/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding: 2rem 0;
}
.header_section .container {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.header_section .container h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: 700;
}
.header_section .container p {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}

.hero_section {
  height: 100vh;
  position: relative;
}
.hero_section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero_section .content {
  width: 100%;
  height: calc(100vh - 76px);
  transform: translateY(76px);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5215686275), rgba(0, 0, 0, 0.5215686275));
}
.hero_section .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  gap: 0.5rem;
  transition: all 0.5s ease-in-out;
  transition-behavior: allow-discrete;
}
.hero_section .swiper-slide img {
  margin-bottom: 1rem;
}
.hero_section .swiper-slide h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 0 1rem;
}
.hero_section .swiper-slide h1 i {
  font-size: 1rem;
}
.hero_section .swiper-slide p {
  text-align: center;
  color: #fff;
  padding: 0 1rem;
}
.hero_section .swiper-slide.swiper-slide-active {
  visibility: visible;
}
.hero_section .swiper-slide.swiper-slide-active img {
  animation: fadeInUp 1s 0.5s both;
}
.hero_section .swiper-slide.swiper-slide-active h1 {
  animation: fadeInUp 1s 1s both;
}
.hero_section .swiper-slide.swiper-slide-active p {
  animation: fadeInUp 1s 1.5s both;
}

.statistics_section {
  padding: 4rem 0;
  background: #faf7f4;
}
.statistics_section .counter-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.statistics_section .counter-box h3 {
  color: #b6956a;
  font-size: 3rem;
  font-weight: bold;
}
.statistics_section .counter-box h4 {
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
}

.services_section {
  padding: 4rem 0;
}
.services_section .swiper {
  padding: 1rem;
}
.services_section .swiper .swiper-slide {
  height: auto;
}
.services_section .service-card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 1rem;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.services_section .service-card .image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #b6956a;
  background: #fff;
  margin-bottom: 12px;
}
.services_section .service-card .image-wrapper img {
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}
.services_section .service-card h5 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #b6956a;
}
.services_section .service-card p {
  color: #777;
  margin: 0;
}
.services_section .swiper-controls {
  display: flex;
  align-items: center;
  gap: 5rem;
  height: 70px;
}
.services_section .swiper-controls .service-button-next, .services_section .swiper-controls .service-button-prev {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #bebebe;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.services_section .swiper-controls .service-button-next:hover, .services_section .swiper-controls .service-button-prev:hover {
  width: 65px;
  height: 65px;
  border-color: #b6956a;
}
.services_section .swiper-controls .service-button-prev::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 2px;
  background: #000;
  top: 50%;
  left: 88%;
  transform: translate(-20%, -50%);
  transition: all 0.4s ease-in-out;
}
.services_section .swiper-controls .service-button-prev::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 6px solid #000;
  top: 50%;
  left: calc(70% - 4px);
  transform: translateY(-50%);
  transition: all 0.4s ease-in-out;
}
.services_section .swiper-controls .service-button-prev:hover::before {
  width: 36px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services_section .swiper-controls .service-button-prev:hover::after {
  left: calc(20% - 4px);
}
.services_section .swiper-controls .service-button-next::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 2px;
  background: #000;
  top: 50%;
  left: -12%;
  transform: translate(-60%, -50%);
  transition: all 0.4s ease-in-out;
}
.services_section .swiper-controls .service-button-next::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid #000;
  top: 50%;
  left: calc(30% - 4px);
  transform: translateY(-50%);
  transition: all 0.4s ease-in-out;
}
.services_section .swiper-controls .service-button-next:hover::before {
  width: 36px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.services_section .swiper-controls .service-button-next:hover::after {
  left: calc(80% - 4px);
}

.our_team_section {
  padding: 4rem 0;
  background: #faf7f4;
}

.flipCard {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  perspective: 1000px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.flipCard .cardFront {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.flipCard .cardFront .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
  color: #fff;
  gap: 4px;
}
.flipCard .cardFront .content .title {
  font-weight: bold;
  color: #fff;
}
.flipCard .cardFront .content .job {
  color: #fff;
  font-size: 12px;
}
.flipCard .cardBack {
  padding: 20px;
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.0509803922);
  background-color: #fff;
}
.flipCard .cardBack .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.flipCard .cardBack .content img {
  width: 48px;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 16px;
}
.flipCard .cardBack .content .title {
  font-weight: bold;
  color: var(--mainColor);
  margin-bottom: 4px;
}
.flipCard .cardBack .content .job {
  color: var(--grayColor);
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: bold;
}
.flipCard .cardBack .content .des {
  color: var(--grayColor);
  font-size: 14px;
}
.flipCard .cardBack .content a {
  font-size: 1.5rem;
  color: #0a66c2;
}
.flipCard:hover {
  z-index: 2;
}
.flipCard:hover .cardFront {
  transform: rotateY(-180deg);
}
.flipCard:hover .cardBack {
  transform: rotateY(0deg);
}

.faq_section {
  padding: 4rem 0;
}
.faq_section .img {
  position: relative;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .faq_section .img {
    display: none;
  }
}
.faq_section .img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid #eee;
}
.faq_section .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.faq_section .accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 0 !important;
}
.faq_section .accordion .accordion-button {
  box-shadow: none !important;
  background: transparent !important;
  font-weight: 700;
}
.faq_section .accordion .accordion-button::after {
  content: "\f176";
  font-family: "Font Awesome 6 Pro";
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  background: none !important;
  transform: none !important;
}
.faq_section .accordion .accordion-button:not(.collapsed) {
  color: #b6956a;
}
.faq_section .accordion .accordion-button:not(.collapsed)::after {
  color: #b6956a;
  content: "\f175";
}
.faq_section .accordion .accordion-item {
  border-radius: 0 !important;
  border: 0 !important;
  border-bottom: 1px solid #dedede !important;
}

.our_clients_section {
  padding: 4rem 0;
  background: #faf7f4;
}
.our_clients_section .clients-swiper {
  padding: 1rem;
}
.our_clients_section .clients-swiper .swiper-slide {
  width: 100px;
  height: 100px;
}
.our_clients_section .clients-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contact_us_section {
  padding: 4rem 0;
}
.contact_us_section .contacts_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.contact_us_section .contacts_grid .contact_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
}
.contact_us_section .contacts_grid .contact_item:nth-child(even) {
  background: #faf7f4;
}
.contact_us_section .contacts_grid .contact_item i {
  color: #000;
  font-size: 2.5rem;
}
.contact_us_section .contacts_grid .contact_item .info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact_us_section .contacts_grid .contact_item .info h6 {
  color: #000;
  font-size: 1.25rem;
  text-align: center;
}
.contact_us_section .contacts_grid .contact_item .info a {
  color: #000;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}
.contact_us_section .contacts_grid .contact_item .info a:hover {
  color: #b6956a;
}

.certificates_section {
  padding: 4rem 0;
  background: #faf7f4;
}
.certificates_section .certificate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: #fff;
  border-radius: 1rem;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.certificates_section .certificate-card img {
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.certificates_section .certificate-card h6 {
  color: #000;
  font-size: 1rem;
  margin: 0;
  font-weight: 700;
}
.certificates_section .certificate-card p {
  color: #777;
  font-size: 0.85rem;
  text-align: center;
  margin: 0;
}

footer {
  padding: 6rem 0 0;
  background-image: url("/assets/images/footer-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(42, 46, 49, 0.9490196078);
  background-blend-mode: multiply;
}
footer .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
footer .logo img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .logo h6 {
  color: #fff;
  font-size: 1.25rem;
  margin: 0;
  font-weight: 700;
}
footer .links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline-start: 3rem;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  footer .links {
    padding-inline-start: 0;
  }
}
footer .links h6 {
  color: #fff;
  font-size: 1.25rem;
  margin: 0;
  font-weight: 700;
}
footer .links ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer .links ul li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #bebebe;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}
footer .links ul li a::before {
  content: "\f177";
  font-family: "Font Awesome 6 Pro";
  color: #b6956a;
  font-size: 1rem;
  width: 0;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
footer .links ul li a:hover {
  color: #b6956a;
}
footer .links ul li a:hover::before {
  width: 16px;
}
footer .footer-text {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  line-height: 1.6;
}
footer .newsletter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .newsletter h6 {
  color: #fff;
  font-size: 1.25rem;
  margin: 0;
  font-weight: 700;
}
footer .newsletter p {
  color: #fff;
  font-size: 0.85rem;
  margin: 0 0 1rem;
}
footer .newsletter form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .newsletter form input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  direction: rtl;
  color: #fff;
}
footer .newsletter form input::-moz-placeholder {
  color: #fff;
}
footer .newsletter form input::placeholder {
  color: #fff;
}
footer .newsletter form button {
  width: 100%;
  padding: 0.75rem 3rem;
  border-radius: 5rem;
  background: #b6956a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
}
footer .copy_rights {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0 1rem;
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2509803922);
}
@media screen and (max-width: 768px) {
  footer .copy_rights {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
  }
}
footer .copy_rights p {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
}
footer .copy_rights p a {
  color: #b6956a;
}
footer .social_links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .social_links a {
  color: #fff;
  font-size: 0.85rem;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.4s ease-in-out;
}
footer .social_links a:hover {
  transform: scale(1.1);
  color: #fff;
  background: #b6956a;
  border-color: #b6956a;
}

.services_section {
  padding: 4rem 0;
}
.services_section .service_card {
  position: relative;
}
.services_section .service_card img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.services_section .service_card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgba(0, 0, 0, 0.7019607843);
  border-radius: 1rem;
}
.services_section .service_card h3 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
}
.services_section .service_card p {
  color: #fff;
  font-size: 0.85rem;
  font-weight: 500;
}
.services_section .service_card ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.services_section .service_card li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  font-size: 0.85rem;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */